*#*
*.so
column1
column2
column3
timeSeries
volumes
equilibrium*
*~
*.jpg
/flushingColumn/stromboliLowCO2/figures/figIsobarsIsopleths/Function.hpp
pyResults
figures
decompression
totalWater
/flushingColumn/stromboliLowCO2/crystallization